body {
    background-color:  white;
    display: block;
    height: auto;
    margin: 0px;
}
.dotted-hr {
    background-color: #B2B2B2;
    border-style: dotted none none;
    border-style: solid noshade;
    height: 330px;
    width: 2px;
    margin-top: 90px;
}

hr {
  border: dotted #EAEAEA 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}

h1 {
    color: #3C4048;
    font-family: 'Orbitron', sans-serif;
    font-size: 5.625rem;
    margin: 50 auto 0 auto
}

h2 {
    color: #3C4048;
    font-size: 3rem;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}
h3 {
    color: #00ABB3;
    font-family: 'Orbitron', sans-serif;
}

.header{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    width: 790px;
}

.middle-container {
    align_items: flex-start;
    background-color: white;
    display: flex;
    height: 1500
    flex-direction: column;
    flex-wrap: wrap;
}

.date_container_column {
    align-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    background-color: white;
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    font-family: 'Orbitron', sans-serif;
    gap: 30px;
    height: 500px; width: auto;
    justify-content: start;
    margin-top: 30px;
}

.datebox {
}

.description_column {
    align-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    background-color: white;
    display: flex;
    flex: 3;
    flex-flow: column nowrap;
    gap: 0px 0px;
    justify-content: flex-start;
    margin-top: 40px;
    padding-left: 30px ;
    padding-top: 0px;
    width: 600px;
}

.description_box {
    align-self: flex-start;
    flex: 0 5 10%;
}

.line_column {
    align-items: center;
    background-color:  white;;
    border-left: thick solid  white;;
    display: inline;
    flex: 1;
    flex-flow: column nowrap;
    height: 1000px;
    margin-top: 0px;
    width: 0px;
}

p {
    text-align: centre;
}

.title {
    align-content: center;
    background-color: #EAEAEA;
    display: inline-block;
    flex: 0 0 100% ;
    margin-top: 30px;
    height: 80px;
}
.top-container {
  background-color: #EAEAEA;
  position: relative;
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;

  align-items: center;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 50px 0 20px;
}

.copyright {
align-self: center;
  color: #00ABB3;
  font-size: 0.75rem;
  padding: 20px 0;
}